# mac files
.DS_Store

# exercism files

# java
build
build.gradle
java/hello-world/.gradle/
java/hello-world/src/main/java/.gradle/

java/reverse-string/build.gradle
java/reverse-string/build

*/build
*/build.gradle
*/.gradle
*/test

# ecmascript
ecmascript/hello-world/node_modules
ecmascript/leap/node_modules

